*l{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#calculator {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 500px;
  width: 300px;
}
#display{
    width: 300px;
}
button{
    display: inline-block;
    width: 100px;
}
